apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
      - name: myapp
        image: savitadhairya/myapp:07cd208221dde123f858e1d09bc9e75aeec2eb27
        ports:
        - containerPort: 3000
